/* ==========================

======== For tablet =================

=================================== */

@media (max-width:768px) {

    .live-match{
        grid-template-columns: auto;
    }
    
    article.matches {
      
        grid-template-columns: repeat(2,1fr);

        
       
    }
    .menu-buttons {
       
        display: block;
    }


    aside.menu {
      
        height: auto;
    }
    .menu-list {
        
        
        flex-direction: column;
        align-items: center;
    }

   
        .content h1 {
            font-size: 2rem;
            
        }
        .content p {
            font-size: .8rem;
            
        }

   }

   





/* ==========================

======== For mobile =================

=================================== */

@media (max-width:576px) {
    article.matches {
      
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        width: 90%;
       
    }
    .menu-buttons {
       
        display: flex;
    }
    .content h1 {
        font-size:1.5rem;
        
    }
    .content p {
        text-overflow: ellipsis;
        
    }

}